.container{
    display: flex;
    flex-direction: columns;
    gap:20px;
    padding:10px;
    font-family: 'Courier New', Courier, monospace;
    background-color:  #ccc;
}

.header{
    background: #ccc;
    padding: 10px;
    font-weight: bold;
}

.text-section{
    display: flex;
    gap: 20px;
}

.input-box, .output-box{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea{
    width: 100%;
    min-height: 100px;
    padding: 5px;
    font-size: 14px;
}

.sidebar{
    background: #ccc;
    padding: 10px;
    display: flex;
    fixed-direction: column;
    gap: 10px;
    width:300px;
}

.counts{
    background-color: #999;
    padding: 10px;
    color: white;
}

.controls{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.controls button{
    margin: 2px;
}

.text-style{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

