.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ccc;
}

.header {
    background: #e0e0e0;
    padding: 15px;
    font-weight: bold;
    font-size: 1.7rem;
}


.main-content {
    display: flex;
    gap: 20px;
}

.text-section {
    flex: 2;
    display: flex;
    gap: 20px;
}


.input-box,
.output-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea {
    width: 100%;
    min-height: 150px;
    padding: 8px;
    font-size: 14px;
}


.sidebar {
    flex: 1;
    background: #d0d0d0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.counts {
    background-color: #888;
    padding: 15px;
    color: white;
}


.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls button {
    padding: 6px;
}


.text-style {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}
